/* Thermal Receipt Print Styles */
@media print {
  /* Hide everything except the thermal receipt */
  body * {
    visibility: hidden;
  }
  
  #thermal-receipt,
  #thermal-receipt * {
    visibility: visible;
  }
  
  #thermal-receipt {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Thermal printer paper size (80mm width) */
  @page {
    size: 80mm auto;
    margin: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* Ensure black text on white background for printing */
  * {
    color: black !important;
    background-color: white !important;
  }
}
